<!DOCTYPE html>
<html>
<head>
    <title>AI Code Reviewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>AI Code Reviewer</h1>

    <form method="POST" action="/review">

        <textarea
            name="code"
            placeholder="Paste your code here..."
            required></textarea>

        <button type="submit">
            Analyze Code
        </button>

    </form>

    {% if result %}
    <div class="card">
        <h3>Analysis Result</h3>
        <p>{{ result|safe }}</p>
    </div>
    {% endif %}

</div>

</body>
</html>
